#main {
background-color:#02475D;
width:100%;
min-height:700px;
}  


#bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #013A4D;
}

#bar li {
    float: left;
    letter-spacing: -1px;
}
#bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 45px 30px 20px;
    text-decoration: none;
    letter-spacing: 2px;
}
#bar li a:hover {
    background-color: #2B4E59  ;
}
#icon
{
font-size:38px;
color:white;
padding:5px 0 0px 15px;
}

#bar h2{
color:white;
padding:0 0 0 10px;
font-family: "Times New Roman", Times, serif;
}
#mainimage{
height:400px;
width:700px;
padding:100px 0px 0px 150px;
}
#snackline h2{
color:white;
letter-spacing:2px;
padding:0 0 0 150px;
word-spacing:15px;
font-family: "Times New Roman", Times, serif;
line-height:40px;
}
#side ul
{
list-style-type:none;
display:block;
padding:10px 0;
margin:0;
width:190px;}


#side li a{
text-align:center;
padding:50px 0 50px 0;
display:block;
color:#013A4D;
background-color:#8DB2BF  ;
border-bottom: 1px solid #02475D;
}

#side li a:hover
{
background-color:#C7E0E8  ;
color:#02475D;
}


#pizza{
padding:10px 0 0 0;
height:130px;
width:200px;
}
#burger{
padding:0px 0 0 0;
height:125px;
width:200px;
}
#pasta{
padding:0px 0 0 0;
height:120px;
width:200px;
}
#macaroni{
padding:0px 0 0 0;
height:120px;
width:200px;
}
#chowmein{
padding:0px 0 0 0;
height:120px;
width:200px;
}

#centerimg{
font-size:150px;
color:white;
padding:100px 0 0px 450px;}

#mainline {
text-align:center;
padding:20px;
color:white;
letter-spacing:2px;
word-spacing:15px;
font-family: "Times New Roman", Times, serif;
line-height:40px;
}

#pizza1{
padding:10px 0 0 0;
height:100px;
width:150px;
}
#burger1{
padding:0px 0 0 0;
height:100px;
width:150px;
}
#pasta1{
padding:0px 0 0 0;
height:100px;
width:150px;
}
#macaroni1{
padding:0px 0 0 0;
height:100px;
width:150px;
}
#chowmein1{
padding:0px 0 0 0;
height:100px;
width:150px;
}

#tea{
width:150px;
height:150px;
opacity:0.5;
position:relative;
}
#coffee{
width:150px;
height:150px;
opacity:0.5;
position:absolute;
}
#soup{
width:150px;
height:150px;
opacity:0.5;
position:relative;
}

#sidebev ul
{
list-style-type:none;
padding:0 0;
margin:0;
width:190px;}


#sidebev li {
padding:0px 0 0px 0;

}


